body {
  background-color: #F0DDDE;
  font-family: "Cascadia Mono";
}

.top {
  height: 40rem;
  margin-top: 1rem;
  padding-inline:1rem;
}

#Question {
  background-color: #D3D3D3;
  padding:2rem;
  color: #23212E;
  border-radius:1rem;
  height: 40rem;
}

nav {
  border-radius: 0rem 0rem 3rem 3rem;
  padding:2rem;
}

#Explanation{
  background-color: #D3D3D3;
  /* padding:3rem; */
  border-radius:1rem;
  height: 40rem;
  padding: 2rem;
  overflow-y: scroll;
}

.Explanation {
  background-color: #EDECEB;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

#Answer {
  border-radius: 3rem 3rem 0rem 0rem;
  padding: 2rem;
  background-color: #EDECEB;
  position: fixed; 
  bottom:0%;
  left: 0%;
  width:100%;
}

.section-title {
  text-decoration: underline;
}


.input-label {
  font-weight: bold;
  font-size: 1.25rem;
}

.inputNumber {
  height: 2.5rem;
  padding: 1rem;
  border: 0px;
  border-radius: 0.5rem;
}

#error {
  color: crimson;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  width: 1000px;
  background-color: #fff;
}

.modal-header, .modal-footer{
  padding: 10px;
}

.modal-title{
  margin: 0;
}

.modal-body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee
}